.container{
    color:#000;
    margin: 0px;
    padding: 0px;
    background: #eee;
    .navul{
        background: #ddd;
        width:100%;
        overflow: hidden;
        li{
            float: left;
            width:20%;
            background: #eee;
            padding: 20px 0px;
            text-align: center;
            a{
                text-decoration: none;

            }
        }
    }
}