
body{
    // 去除移动端元素点击时产生的背景颜色
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -moz-tap-highlight-color:rgba(0, 0, 0, 0);
    -ms-tap-highlight-color:rgba(0, 0, 0, 0);
    -o-tap-highlight-color:rgba(0, 0, 0, 0);
    tap-highlight-color:rgba(0, 0, 0, 0);
    font-size: 16px;
    #app{
        font-size: 0.25rem;
        .container{
            height: 100%;
            color:#000;
            margin: 0px;
            padding: 0px;
            .navul{
                position: fixed;
                bottom: 0px;
                background: #fff;
                width:100%;
                height: 0.82rem;
                vertical-align: middle;
                overflow: hidden;
                border-top: 1px solid #eee;
                li{
                    float: left;
                    width:20%;
                    padding: 0.4rem 0rem;
                    text-align: center;
                    a{
                        text-decoration: none;
                        font-size: 0.2rem;
                        color:#000;
                    }
                    a:active{
                        background: none;
                    }
                    &:first-of-type{
                        background: url(../../assets/images/b1.png) 50% 8% no-repeat;
                        background-size: 26% auto;
                    }
                    &:nth-of-type(2){
                        background: url(../../assets/images/b2.png) 50% 8% no-repeat;
                        background-size: 24% auto;
                    }
                    &:nth-of-type(3){
                        background: url(../../assets/images/b3.png) 50% 8% no-repeat;
                        background-size: 22% auto;
                    }
                    &:nth-of-type(4){
                        background: url(../../assets/images/b3.png) 50% 8% no-repeat;
                        background-size: 22% auto;
                    }
                    &:nth-of-type(5){
                        background: url(../../assets/images/b4.png) 50% 10% no-repeat;
                        background-size: 22% auto;
                    }
                }
            }
        }
    }
}
